# Compiled Fortran files
*.out
fort.*

# Executables
heat
heat2

# Python cache
__pycache__/
*.py[cod]

# Data and output directories
data/*
!data/*.in
# And keep the directory itself
!data/.gitkeep
# figs/*
!figs/.gitkeep